@model IEnumerable<CarRental.DTOs.BookingDTO>


@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int counter = 1;
}

<h2 class="text-center mb-4">History</h2>

<div class="table-responsive rounded-3 overflow-hidden shadow-sm">
    <table class="table table-hover table-striped align-middle">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Username</th>
                <th>Car Name</th>
                <th>Unit</th>
                <th>Pickup</th>
                <th>Return</th>
                <th>Rental Amount</th>
                <th>Condition</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>@booking.Request.Username</td>
                    <td>@booking.Request.CarName</td>
                    <td>@booking.Unit</td>
                    <td>
                        <span class=" d-block">@booking.ActualPickupDate.ToString("yyyy-MM-dd")</span>
                        <small class="text-muted">@booking.ActualPickupTime.ToString("hh:mm tt")</small>

                    </td>
                    <td>
                        <span class=" d-block">@booking.ActualReturnDate.ToString("yyyy-MM-dd")</span>
                        <small class="text-muted">@booking.ActualReturnTime.ToString("hh:mm tt")</small>
                    </td>
                    <td>@booking.RentalAmount</td>
                    <td>@booking.Condition</td>                                    
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>