@model IEnumerable<CarRental.DTOs.BookingDTO>


@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int counter = 1;
}

<h2>Bookings</h2>

<div class="table-responsive rounded-3 overflow-hidden shadow-sm">
    <table class="table table-hover table-striped align-middle">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Username</th>
                <th>Car Name</th>
                <th>Unit</th>
                <th scope="col" style="width: 20%;">Pickup</th>
                <th scope="col" style="width: 20%;">Return</th>
                <th>Rental Amount</th>
                <th>Condition</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>@booking.Request.Username</td>
                    <td>@booking.Request.CarName</td>
                    <td>@booking.Unit</td>
                    <td>@(booking.ActualPickupDate.ToString("yyyy-MM-dd") + " : " + booking.ActualPickupTime.ToString("hh:mm tt"))</td>
                    <td>@(booking.ActualReturnDate.ToString("yyyy-MM-dd") + " : " + booking.ActualReturnTime.ToString("hh:mm tt"))</td>
                    <td>@booking.RentalAmount</td>
                    <td>@booking.Condition</td>                                    
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>