@model IEnumerable<CarRental.DTOs.BookingDTO>


@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int counter = 1;
}

<h2>Bookings</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Username</th>
            <th>Car Name</th>
            <th scope="col" style="width: 20%;">Pickup</th>
            <th scope="col" style="width: 20%;">Return</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@booking.Request.Username</td>
                <td>@booking.Request.CarName</td>
                <td>@(booking.Request.PickupDate.ToString("yyyy-MM-dd") + " : " + booking.Request.PickupTime.ToString("hh:mm tt"))</td>
                <td>@(booking.Request.ReturnDate.ToString("yyyy-MM-dd") + " : " + booking.Request.ReturnTime.ToString("hh:mm tt"))</td>
                <td>
                    <a asp-action="PickedUp" asp-route-id="@booking.BookingID" class="btn btn-sm btn-success me-3">
                        Picked Up
                    </a>

                    <a asp-action="DeleteBooking" asp-route-id="@booking.BookingID" class="btn btn-sm btn-danger">
                       Cancel
                    </a>
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>
